.main-container {
  max-width: 1280px;
  width: 100%;
  padding: 45px 20px;
  margin: 0 auto;

  @media screen and (max-width: 1300px) {
    max-width: 640px;
  }
}

.test-container {
  max-width: 670px;
  width: 100%;
  padding: 80px 15px 0 15px;
  margin: 0 auto;
}
