.end {
  &__items {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1300px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  .heart {
    max-width: 126px;
    @media screen and (max-width: 640px) {
      max-width: 86px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .description__container {
    min-width: 50%;
    padding-right: 60px;
    padding-top: 39px;

    @media screen and (max-width: 1300px) {
      padding-right: 0;
    }

    .present-container {
      background: #FFFFFF;
      border-radius: 30px;
      padding: 43px 42px 20px 50px;
      @media screen and (max-width: 640px) {
        padding: 40px 25px 30px 25px;
      }

      .header {
        margin: 21px 0 0 0;
        font-family: $font-inter;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        color: #2A2A2A;
        @media screen and (max-width: 640px) {
          font-size: 18px;
        }
      }

      .description {
        margin: 20px 0 0 0;
        font-family: $font-inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #2A2A2A;
        @media screen and (max-width: 640px) {
          font-size: 14px;
        }
      }

      .button__container {
        margin-top: 30px;
      }
    }


    .socials {
      margin-top: 65px;
      padding-left: 50px;
      @media screen and (max-width: 1300px) {
        padding-left: 25px;
        margin-top: 30px;
      }

      .social {
        margin-right: 15px;
        cursor: pointer;
      }
      .social:hover {
        opacity: 0.9;
      }

      .items {
        display: flex;
        justify-content: flex-start;
      }

      .description {
        font-family: $font-inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #2A2A2A;
        margin-top: 20px;
        margin-bottom: 0;
        @media screen and (max-width: 640px) {
          font-size: 14px;
        }
      }
    }
  }

  .button-to-main__container{
    width: 100%!important;
    min-width: 100%!important;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    .button-to-main{
      cursor: pointer;
      color: #FB7935;
      font-family: $font-inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
    }
  }
}
