.salmon {
  min-width: 50%;
  padding-left: 48px;

  @media screen and (max-width: 1300px) {
    min-width: 100%;
    padding-left: 0;
    margin-top: 40px;
  }

  .salmon-background{
    height: 100%;
    width: 100%;

    img{
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
    }
    img.desktop{
      @media screen and (max-width: 540px) {
        display: none;
      }
    }
    img.mob{
      @media screen and (min-width: 540px) {
        display: none;
      }
    }
  }

  &__container {
    height: 710px;
    border-radius: 50px;
    position: relative;
    width: 100%;
    /*@media screen and (max-width: 640px) {
      background: url("../img/salmon-mob.png") no-repeat center center;
      background-size: cover;
    }*/

    @media screen and (max-width: 640px) {
      min-height: calc((100vw - 40px) * 1.25);
      height: unset;
    }
    /*@media screen and (max-width: 440px) {
      min-height: 377px;
    }*/
  }


  &__quote {
    position: absolute;
    top: 130px;
    left: 40px;

    @media screen and (max-width: 640px) {
      top: 130px;
      left: 30px;
    }

    @media screen and (max-width: 540px) {
      top: 80px;
      left: 17px;
    }

    @media screen and (max-width: 440px) {
      top: 75px;
      left: 17px;
    }

    &__container {
      background: url("../img/quote.svg") no-repeat center top;
      background-size: 100% 100%;
      width: 274px;
      //height: 138px;
      display: flex;
      align-items: center;
      padding: 18px 10px 35px 25px;

      @media screen and (max-width: 640px) {
        background-size: 100% 100%;
        width: 230px;
        //height: 75px;
      }

      @media screen and (max-width: 440px) {
        background-size: 100% 100%;
        width: 168px;
        height: 55px;
        padding: 0 13px 13px 20px;
      }
    }

    &__description {
      margin: 0;
      font-family: $font-inter;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 140%;
      color: $color-grey;

      @media screen and (max-width: 640px) {
        font-size: 14px;
      }
      @media screen and (max-width: 440px) {
        font-size: 10px;
      }
    }
  }

  &__quote__end {
    .salmon__quote__container {
      background: url("../img/quote-end.svg") no-repeat center top;
      background-size: 100% 100%;
      width: 274px;
      height: 138px;
      display: flex;
      align-items: center;
      padding: 12px 6px 52px 34px;

      @media screen and (max-width: 640px) {
        background-size: 100% 100%;
        width: 230px;
        height: 120px;
        padding: 13px 10px 47px 29px;
      }

      @media screen and (max-width: 440px) {
        width: 168px;
        height: 85px;
        padding: 7px 10px 34px 25px;
      }
    }
  }
}
