.testsItems {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 80px);
  position: relative;

  .background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 30px;
    z-index: 0;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 30px 30px 0 0;
  }

  .test {
    z-index: 20;
    background: #FFFFFF;
    border-radius: 30px 30px 0 0;
    position: relative;
    min-height: inherit;
    margin-left: 20px;
    margin-right: 20px;

    padding: 40px 50px 80px 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 640px) {
      padding: 30px 20px 60px 20px;
      margin-left: 11px;
      margin-right: 11px;
    }

    &__number {
      margin: 0;
      text-align: center;
      font-family: $font-inter;
      font-style: italic;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      color: #0169ED;
      @media screen and (max-width: 640px) {
        font-size: 14px;
      }
    }

    &__question {
      margin: 10px 0 0 0;
      text-align: center;
      font-family: $font-inter;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      color: #000000;
      @media screen and (max-width: 640px) {
        font-size: 16px;
      }
    }

    &__answers {
      height: 100%;
      min-height: 100%;
      margin-top: 20px;
      margin-bottom: 30px;

      .answer {
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 13px 16px 13px 60px;
        border: 1px solid #ECECEC;
        position: relative;
        cursor: pointer;
        @media screen and (max-width: 640px) {
          padding: 10px 15px 10px 41px;
        }

        &.selected {
          border: 1px solid #0169ED;

          .check {
            border: 1px solid #0169ED;
            background: url("../img/selected.svg") no-repeat center center;
          }
        }

        &:not(.selected):hover {
          border: 1px solid #0169ED;
          .check {
            border: 1px solid #0169ED;
          }
        }

        .text {
          font-family: $font-inter;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 140%;
          color: #000000;
          @media screen and (max-width: 640px) {
            font-size: 14px;
          }
        }

        .check {
          position: absolute;
          left: 20px;
          top: calc(50% - 10.5px);
          width: 21px;
          height: 21px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 50%;
          @media screen and (max-width: 640px) {
            left: 10px;
          }
        }
      }
    }

    .button__container {
      display: flex;
      justify-content: center;
    }
  }

}
