* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 20px/1 "Inter", sans-serif;
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body.main,
body.ends {
  background: #F0FAFF;
}

body.tests {
  background: url("../img/body-background.png") no-repeat center bottom;
  background-size: cover !important;
}

.hidden {
  display: none !important;
}

.button {
  font: normal 600 18px/140% "Inter";
  background: #FB7935;
  border-radius: 128px;
  border: none;
  padding: 25px;
  width: 248px;
  height: 76px;
  cursor: pointer;
  text-align: center;
  color: #FFFFFF;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.button:hover {
  background: #FF6B1E;
}

.button:focus {
  background: #FF6B1E;
}

.main-container,
.end-container {
  max-width: 1280px;
  width: 100%;
  padding: 45px 20px;
  margin: 0 auto;
}

.test-container {
  max-width: 670px;
  width: 100%;
  padding: 80px 15px 0 15px;
  margin: 0 auto;
}

.footer-container {
  width: 100%;
  background: #EAF4F9;
}

.end-block {
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.end__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.end .heart {
  max-width: 126px;
}

.end .heart img {
  width: 100%;
  height: auto;
}

.end .description__container {
  min-width: 50%;
  padding-right: 60px;
  padding-top: 39px;
}

.end .description__container .present-container {
  background: #FFFFFF;
  border-radius: 30px;
  padding: 43px 42px 40px 50px;
}

.end .description__container .present-container .header {
  font: normal 600 24px/140% "Inter";
  margin: 21px 0 0 0;
  color: #2A2A2A;
}

.end .description__container .present-container .description {
  font: normal normal 16px/140% "Inter";
  margin: 20px 0 0 0;
  color: #2A2A2A;
}

.end .description__container .present-container .button__container {
  margin-top: 30px;
}

.end .description__container .socials {
  margin-top: 65px;
  padding-left: 50px;
}

.end .description__container .socials .social {
  margin-right: 15px;
  cursor: pointer;
}

.end .description__container .socials .social:hover {
  opacity: 0.9;
}

.end .description__container .socials .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.end .description__container .socials .description {
  font: normal normal 16px/140% "Inter";
  color: #2A2A2A;
  margin-top: 20px;
  margin-bottom: 0;
}

footer {
  max-width: 1280px;
  width: 100%;
  padding: 35px 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .item {
  width: 50%;
}

footer .item p {
  font: normal normal 14px/140% "Inter";
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}

footer .promotion {
  width: 40%;
}

footer .promotion .black {
  font-weight: bold;
}

footer .logo_container {
  display: none;
}

.logo__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo .krestik {
  margin: 0 33px;
}

.main__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main .description__container {
  min-width: 50%;
  padding-right: 46px;
  padding-top: 39px;
}

.main .description__container .header {
  font: normal 600 52px/110% "Inter";
  color: #2A2A2A;
  margin-top: 80px;
  margin-bottom: 0;
}

.main .description__container .description {
  font: normal normal 20px/140% "Inter";
  color: #2A2A2A;
  margin: 30px 0 0 0;
}

.main .button__container {
  margin-top: 30px;
}

.main .button__container.button__container__mob {
  min-height: 76px;
}

.main .button__main__fixed {
  position: fixed;
  bottom: 20px;
  z-index: 40;
}

.present {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background: rgba(174, 189, 208, 0.5);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
}

.present .modal__container {
  position: relative;
  width: auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.present .present__container {
  max-width: 530px;
  width: 100%;
  margin: 30px auto;
  position: relative;
}

.present .present__container .modal {
  min-height: 586px;
}

.present .present__container .background {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  top: 30px;
  z-index: -1;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
}

.present .present__container .block {
  z-index: 100;
  background: #FFFFFF;
  border-radius: 30px;
  padding: 70px 39px 60px 39px;
  margin-left: 20px;
  margin-right: 20px;
}

.present .present__container .block .header {
  font: normal 600 52px/110% "Inter";
  text-align: center;
  color: #2A2A2A;
  margin: 0;
}

.present .present__container .block .promocode {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.present .present__container .block .promocode .code {
  width: 286px;
  background: #F4F4F4;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.present .present__container .block .promocode .title {
  font: normal normal 16px/140% "Inter";
  color: #2A2A2A;
  opacity: 0.3;
  margin: 0;
}

.present .present__container .block .promocode .name {
  font: normal 600 36px/110% "Inter";
  color: #0169ED;
  margin: 0;
}

.present .present__container .block .promocode .copy {
  cursor: pointer;
}

.present .present__container .block .mnogolososa {
  font: normal normal 16px/140% "Inter";
  color: #000000;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 0;
  margin-top: 20px;
}

.present .present__container .block .mnogolososa a {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  color: #FB7935;
  text-decoration: none;
}

.present .present__container .block .zigmund {
  font: normal normal 16px/140% "Inter";
  color: #000000;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0 20px;
}

.present .present__container .block .zigmund a {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  color: #0169ED;
  text-decoration: none;
}

.present .present__container .block .smile {
  margin-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.present .present__container .block .instructions {
  font: normal normal 16px/140% "Inter";
  color: #000000;
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}

.present .close__button {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 30px;
  right: 30px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.present .close__button .cross {
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.present .close__button .cross:hover {
  opacity: 0.7;
}

.present .close__button .cross:after {
  content: "";
  top: calc(50% - 0.9px);
  right: 0;
  position: absolute;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 60px;
  height: 1.8px;
}

.present .close__button .cross:before {
  content: "";
  top: calc(50% - 0.9px);
  right: 0;
  position: absolute;
  background: #ffffff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 60px;
  height: 1.8px;
}

.salmon {
  min-width: 50%;
  padding-left: 48px;
}

.salmon .salmon-background {
  height: 100%;
  width: 100%;
}

.salmon .salmon-background img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.salmon__container {
  height: 710px;
  border-radius: 50px;
  position: relative;
  width: 100%;
}

.salmon__quote {
  position: absolute;
  top: 130px;
  left: 40px;
}

.salmon__quote__container {
  background: url("../img/quote.svg") no-repeat center top;
  background-size: 100% 100%;
  width: 274px;
  height: 138px;
  padding: 16px 10px 47px 25px;
}

.salmon__quote__description {
  font: normal normal 18px/140% "Inter";
  margin: 0;
  color: #2A2A2A;
}

.testsItems {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 80px);
  position: relative;
}

.testsItems .background {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 30px;
  z-index: 0;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 30px 30px 0 0;
}

.testsItems .test {
  z-index: 20;
  background: #FFFFFF;
  border-radius: 30px 30px 0 0;
  position: relative;
  min-height: inherit;
  margin-left: 20px;
  margin-right: 20px;
  padding: 40px 50px 80px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.testsItems .test__number {
  font: italic 600 16px/140% "Inter";
  margin: 0;
  text-align: center;
  color: #0169ED;
}

.testsItems .test__question {
  font: normal 600 20px/140% "Inter";
  margin: 10px 0 0 0;
  text-align: center;
  color: #000000;
}

.testsItems .test__answers {
  height: 100%;
  min-height: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.testsItems .test__answers .answer {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 13px 16px 13px 60px;
  border: 1px solid #ECECEC;
  position: relative;
  cursor: pointer;
}

.testsItems .test__answers .answer.selected {
  border: 1px solid #0169ED;
}

.testsItems .test__answers .answer.selected .check {
  border: 1px solid #0169ED;
  background: url("../img/selected.svg") no-repeat center center;
}

.testsItems .test__answers .answer:not(.selected):hover {
  border: 1px solid #0169ED;
}

.testsItems .test__answers .answer:not(.selected):hover .check {
  border: 1px solid #0169ED;
}

.testsItems .test__answers .answer .text {
  font: normal normal 16px/140% "Inter";
  color: #000000;
}

.testsItems .test__answers .answer .check {
  position: absolute;
  left: 20px;
  top: calc(50% - 10.5px);
  width: 21px;
  height: 21px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.testsItems .test .button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@supports (-webkit-appearance:none) {
  body.tests {
    background: url("../img/body-background.webp") no-repeat center bottom;
  }

  .salmon__quote__container {
    background: url("../img/quote.svg") no-repeat center top;
  }

  .testsItems .test__answers .answer.selected .check {
    background: url("../img/selected.svg") no-repeat center center;
  }
}

@media screen and (min-width: 640px) {
  .salmon .salmon-background img.mob {
    display: none;
  }

@supports (-webkit-appearance:none) {

}
}

@media screen and (min-width: 1300px) {
  .main .button__container.button__container__mob {
    display: none;
  }

  .main .button__container.button__container__desktop {
    display: block;
  }

@supports (-webkit-appearance:none) {

}
}

@media screen and (max-width: 1300px) {
  .main-container,
  .end-container {
    max-width: 640px;
  }

  .end__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .end .description__container {
    padding-right: 0;
  }

  .end .description__container .socials {
    padding-left: 25px;
    margin-top: 30px;
  }

  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 640px;
  }

  footer .item {
    width: 100%;
  }

  footer .promotion {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  footer .logo_container {
    display: block;
  }

  .main__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .main .description__container {
    padding-right: 0;
  }

  .main .description__container .header {
    margin-top: 50px;
  }

  .main .description__container .description {
    margin-top: 25px;
  }

  .main .button__container.button__container__mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .main .button__container.button__container__desktop {
    display: none;
  }

  .salmon {
    min-width: 100%;
    padding-left: 0;
    margin-top: 40px;
  }

@supports (-webkit-appearance:none) {

}
}

@media screen and (max-width: 760px) {
  .present .close__button .cross:hover {
    opacity: 1;
  }

  .present .close__button .cross:after {
    width: 35px;
    height: 1px;
    right: unset;
    left: calc(50% - 17.5px);
  }

  .present .close__button .cross:before {
    width: 35px;
    height: 1px;
    right: unset;
    left: calc(50% - 17.5px);
  }

  .present .close__button {
    background: #FB7935;
    border-radius: 50%;
    position: relative;
    top: unset;
    right: unset;
    margin-top: 30px;
  }

  .present .close__button:hover {
    background: #FF6B1E;
  }

  .present .close__button:focus {
    background: #FF6B1E;
  }

@supports (-webkit-appearance:none) {

}
}

@media screen and (max-width: 640px) {
  .button {
    width: 220px;
    height: 62px;
    font-size: 16px;
    padding: 20px;
  }

  .test-container {
    padding-top: 60px;
  }

  .end .heart {
    max-width: 86px;
  }

  .end .description__container .present-container {
    padding: 40px 25px 30px 25px;
  }

  .end .description__container .present-container .header {
    font-size: 18px;
  }

  .end .description__container .present-container .description {
    font-size: 14px;
  }

  .end .description__container .socials .description {
    font-size: 14px;
  }

  footer .item p {
    font-size: 12px;
  }

  .logo .mnogolososa {
    width: 115px;
  }

  .logo .zigmund {
    width: 135px;
  }

  .logo .krestik {
    width: 16px;
  }

  .main .description__container .header {
    font-size: 44px;
  }

  .present .present__container .modal {
    min-height: 430px;
  }

  .present .present__container .block {
    padding: 40px 30px 40px 30px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .present .present__container .block .header {
    font-size: 30px;
  }

  .present .present__container .block .promocode {
    margin-top: 20px;
  }

  .present .present__container .block .promocode .code {
    padding: 7px 14px 8px 14px;
    width: 195px;
  }

  .present .present__container .block .promocode .title {
    font-size: 12px;
  }

  .present .present__container .block .promocode .name {
    font-size: 24px;
  }

  .present .present__container .block .mnogolososa {
    font-size: 14px;
    padding: 0;
  }

  .present .present__container .block .zigmund {
    font-size: 14px;
    padding: 0;
  }

  .present .present__container .block .instructions {
    font-size: 14px;
  }

  .salmon .salmon-background img.desktop {
    display: none;
  }

  .salmon__quote {
    top: 130px;
    left: 30px;
  }

  .salmon__quote__container {
    background-size: 100% 100%;
    width: 230px;
    height: 120px;
  }

  .salmon__quote__description {
    font-size: 14px;
  }

  .testsItems .test {
    padding: 30px 20px 60px 20px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .testsItems .test__number {
    font-size: 14px;
  }

  .testsItems .test__question {
    font-size: 16px;
  }

  .testsItems .test__answers .answer {
    padding: 10px 15px 10px 41px;
  }

  .testsItems .test__answers .answer .text {
    font-size: 14px;
  }

  .testsItems .test__answers .answer .check {
    left: 10px;
  }

@supports (-webkit-appearance:none) {

}
}

@media screen and (max-width: 540px) {
  .main-container,
  .end-container {
    padding: 0px 20px 30px 20px;
  }

  .main .description__container .header {
    font-size: 38px;
  }

  .main .description__container .description {
    font-size: 18px;
  }

  .salmon__container {
    min-height: 500px;
    height: unset;
  }

  .salmon__quote {
    top: 80px;
    left: 17px;
  }

@supports (-webkit-appearance:none) {

}
}

@media screen and (max-width: 470px) {
  .logo .mnogolososa {
    width: 85px;
  }

  .logo .zigmund {
    width: 105px;
  }

  .logo .krestik {
    width: 16px;
    margin: 0 15px;
  }

  .main .description__container .header {
    font-size: 34px;
  }

  .main .description__container .description {
    font-size: 14px;
  }

@supports (-webkit-appearance:none) {

}
}

@media screen and (max-width: 440px) {
  .salmon__container {
    min-height: 377px;
  }

  .salmon__quote {
    top: 37px;
    left: 17px;
  }

  .salmon__quote__container {
    background-size: 100% 100%;
    width: 168px;
    height: 85px;
    padding: 11px 13px 28px 20px;
  }

  .salmon__quote__description {
    font-size: 10px;
  }

@supports (-webkit-appearance:none) {

}
}

@media screen and (max-width: 420px) {
  .main .description__container .header {
    font-size: 30px;
  }

@supports (-webkit-appearance:none) {

}
}